[workspace]
members = ["crates/client","crates/daemon"]
resolver = "2"

[workspace.package]
version = "0.2.1"
edition = "2024"
exclude = ["target_dirs", ".github", "target"]
license-file = "LICENSE"
readme = "README.md"
repository = "https://github.com/DieracDelta/nix-btm"
keywords = ["nix", "monitor", "system-info", "tui"]
authors = [ "Justin Restivo (justin.p.restivo@gmail.com)"]
categories = ["development-tools::debugging"]

[workspace.dependencies]
crossterm = "0.28.0"
rand = {version = "0.9.2", features = ["small_rng"]}
ratatui = "0.29.0"
# if I want nice effects
# tachyonfx = {git = "https://github.com/junkdog/tachyonfx"}
sysinfo = {version = "0.37.2"} #, features = ["debug"]}
tui-tree-widget = "0.23.1"
lazy_static = "1.5.0"
procfs = "0.18.0"
strip-ansi-escapes = "0.2.1"
strum = "0.27.2"

[profile.release]
incremental = true
panic = "abort"
